
###> symfony/framework-bundle ###
.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.result.cache
/.phpunit.cache/
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

# Local debug / one-off scripts
/add_slug.php
/check_img.php
/check_res21.php
/check_schema.php
/debug_refund.php
/debug_symfony_refund.php
/fix_image_url.php
/test_refund.php
